<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkxTxOQhz8zvOK8pfrt41T2a9984vR2ac</string>
	<key>GCM_SENDER_ID</key>
	<string>670613015475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.borham.chatGptApp</string>
	<key>PROJECT_ID</key>
	<string>mychatgpt-6d065</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatgpt-6d065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670613015475:ios:f2c40113399a6b9229d9c6</string>
</dict>
</plist>